<div class="container-fluid">
  <blockquote *ngIf="!isUploaded">
    <b>Get a IDEA?</b>
    <p>Share with us, and let's talk!</p>
  </blockquote>
  <blockquote *ngIf="isUploaded">
    <b>{{uploadSuccessMsg}}</b>
  </blockquote>
  
  <button 
    *ngIf="isUploaded" 
    (click)="goToUrl()"
    type="button"  
    class="btn btn-primary btn-lg btn-block">Go Back</button>

  <!-- Stack the columns on mobile by making one full-width and the other half-width -->

  <button type="button"
          class="btn btn-primary btn-lg btn-block"
          (click)="takePhoto()" *ngIf="isCordovaApp">Record a receipt!</button>

  <div *ngIf="!isCordovaApp && !isUploaded">
    <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." /><br/>
    <button type="button"  class="btn btn-primary btn-lg btn-block" (click)="desktopUpload()">Upload</button>
  </div>

  <div *ngIf="isLoading">Processing...</div>
</div>
